header{
	width:auto;
	height:200px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	margin-top:30px;
}

header #menu{
	margin-left:15px;
	width:auto;
}

header #menu li{
	display: block;
	float: left;
	width: 150px;
	height: 50px;
}

header #menu a {
	font-size: 16px;
	width: 150px;
	height: 16px;
	color: black;
	display: block;
	line-height: 1.0;
	padding: 6px 0;
/*	border-left: 1px solid black;*/
	text-align: center;
	text-decoration: none;
}

header #menu a:hover{
	color: #111;
	border: 1px solid #EEE;
	-moz-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	width: 150px;
	padding: 9px 0;
}
header #menu .now{
	color: #111;
	border: 1px solid #EEE;
	-moz-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	width: 150px;
	padding: 9px 0;
}

header #menu #last{
/*	border-right: 1px solid black;*/
}

header #title{
	margin-top: 150px;
}
header #title a{
	margin-left:auto;
	margin-right: 30px;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 45px;
	width:208px;
}