body{
	width:1000px;
	margin:0 auto;
}

#main{
	margin:0 auto;
	margin-top: 30px;
	padding-top: 20px;
	margin-bottom: 50px;
	padding-bottom: 30px;
	width:960px;
	height:auto;
}

#main>h1{
	text-align: center;
	font-size: 30px;
	padding-bottom: 30px;
}
#main>h2{
	font-size: 20px;
	text-align: center;
	width:220px;
	padding-bottom: 10px;
	border-bottom: solid 1px black
}

section>h1{
	padding: 6px 0px 3px 6px;
	font-size: 20px;
	border-left:solid 5px black;
	border-bottom: solid 1px black;
	margin-top: 50px;
	margin-bottom: 30px;
	width:480px;
}
section>p{
	margin-left:40px;
}

.browser{
	position: relative;
	margin: 20px 0px 20px 0px;
	border-radius: 7px;
	width:auto;
	padding: 17px 7px 2px 7px;
	border:solid 1px #808080;
	box-shadow:5px 7px;
	min-height: 150px;

}
.browser>h2{
	background-color: white;
	position: absolute;
	top:-29px;
	left:16px;
	border:solid 1px #808080;
	padding:3px;
	z-index: 1;
}
.mycode{
	position: relative;
	margin: 20px 0px 20px 0px;
	border-radius: 7px;
	width:auto;
	padding: 17px 7px 2px 7px;
	border:solid 1px #808080;
	box-shadow:5px 7px;
}
.mycode>h2{
	background-color: white;
	position: absolute;
	top:-29px;
	left:16px;
	border:solid 1px #808080;
	padding:3px;
	z-index: 1;
}

.question{
	position: relative;
	margin: 20px 0px 20px 0px;
	border-radius: 7px;
	width:auto;
	padding: 17px 7px 2px 7px;
	border:solid 1px #808080;
	box-shadow:5px 7px;
	min-height: 150px;

}
.question>h2{
	background-color: white;
	position: absolute;
	top:-29px;
	left:16px;
	border:solid 1px #808080;
	padding:3px;
	z-index: 1;
}