body{

}
#page{
	width: 1000px;
	margin: 0 auto;
}
#main{
	width:auto;
	height:300px;
	background-color: red;
}
header{
	width:auto;
	height:200px;
	background-color: black;
}
footer{
	margin-top: 100px;
	margin-bottom: 100px;
	width:auto;
	height:300px;
	//background-color: black;
	border-bottom: solid 1px black;
}
footer #contents{
	float: left;
	width:69%;
	height:90%;
	margin-top: 10px;
	//background-color: red;
}
footer #contents h3{
	font-size: 18px;
	text-align: center;
	border-bottom: solid 1px black;
	padding-bottom: 15px;
}
footer #contents li{
	font-size: 15px;
	padding-bottom: 7px;
	padding-top: 7px;
}
footer #contents li:hover{
	text-decoration: underline;
}

footer #contents #left1{
	float:left;
	width: 67%;
}
footer #contents #left2{
	float:left;
	width: 50%;
}
footer #contents #right1{
	float:right;
	width:33%;
}
footer #contents #right2{
	float:right;
	width:50%;
}

footer #contents #Page{
	//background-color: rgb(200,200,200);
	width:85%;
	margin:0 auto;
}
footer #contents #Research{
	//background-color: rgb(100,100,100);
	width:85%;
	margin:0 auto;
}

footer #contents #Study{
	//background-color: rgb(50,50,50);
	width:85%;
	margin:0 auto;
}
footer #SNS{
	float:right;
	width:30%;
	height:90%;
	margin-top: 10px;
	background-color: blue;
}