body{

}
#page{
	width: 1000px;
	margin: 0 auto;
}
#main{
	margin-top:30px;
	margin-bottom: 30px
	width:auto;
	height:auto;
}

#top_img{
	padding-top: 20px;
	height:450px;
	width:1000px;
	margin: 0 auto;
}
#top_img h1{
	text-align: center;
	font-size: 30px;
}

#top_img #Aquarium{
	width: 450px;
	height: 300px;
}
#top_img #canvas{
	margin-top:20px;
	width: 450px;
	height: 300px;
	margin:0 auto;
}

#games{
	width: 800px;
	height:220px;
	margin:0 auto;
	margin-bottom: 10px;
	//border:solid 1px black;
}
#games h2{
	font-size: 20px;
	text-align: center;
	width:180px;
	padding-bottom: 10px;
	margin-left:-40px;
	border-bottom: solid 1px black
}

#games li{
	margin-right: 32px;
	display: block;
	float: left;
	width: 128px;
	height:128px;
	border:solid 1px black;
	border-radius: 30px;
}

#games li a{
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
		width: 128px;
	height:128px;
}

#games #gicon > a{
	display: block;
	width:90px;
	height:32px;
	float:left;
	font-size: 17px;
	color: black;
	text-align: center;
	text-decoration: none;
	line-height: 2.0;
	margin-top: 98px;
}
#games #gicon > a:hover{
	text-decoration:underline;
}

#update{
	width:auto;
	height :250px;
	border-top:solid 1px black;
	border-bottom: solid 1px black;
}
#update #tab{
	margin-top: 20px;
	float:left;
	width:30%;
	height :200px;
	border-right: solid 1px black;
}
#tab #update_menu{
	width:90%;
	margin:0 auto;
}
#tab #update_menu h3{
	font-size: 20px;
	margin:0 auto;
	text-align: center;
	width:180px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: solid 1px black
}
#tab #update_menu li{
	list-style: none;
}

#tabs{
	margin-top: 17px;
}

#tabs li{
	display: block;
	width: auto;
	height: 50px;
}
#tabs a{
	font-size: 16px;
	width: auto;
	height: 40px;
	color: black;
	display: block;
	line-height: 2.4;
	text-align: center;
	text-decoration: none;
}

#tabs a:hover{
	color: #111;
	border: 1px solid #EEE;
	-moz-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	width: auto;
	padding: 2px 0;
}
#tabs .selected{
	color: #111;
	border: 1px solid #EEE;
	-moz-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow: -1px -1px 1px rgba(000,000,000,0.3),1px 1px 1px rgba(255,255,255,1);
	width: auto;
	padding: 2px 0;
}

#update #message_window{
	float:right;
	width:69%;
	height :250px;
}


.panel{
	clear: both;
	overflow: auto;
	margin:0 auto;
}