body{

}
#page{
	width: 1000px;
	margin: 0 auto;
}
#main{
	width:auto;
	height:300px;
	background-color: red;
}
header{
	width:auto;
	height:200px;
	background-color: black;
}
footer{
	margin-top: 100px;
	margin-bottom: 100px;
	width:auto;
	height:300px;
	border-bottom: solid 1px black;
}
footer #contents{
	float: left;
	width:69%;
	height:90%;
	margin-top: 10px;
}
footer #contents h3{
	font-size: 18px;
	text-align: center;
	border-bottom: solid 1px black;
	padding-bottom: 15px;
}
footer #contents li{
	font-size: 15px;
	padding-bottom: 7px;
	padding-top: 7px;
}
footer #contents li:hover{
	font-size: 18px;
	text-decoration: underline;
}

footer .left1{
	float:left;
	width: 67%;
}
footer .left2{
	float:left;
	width: 50%;
}
footer .right1{
	float:right;
	width:33%;
}
footer .right2{
	float:right;
	width:50%;
}

footer #contents #Page{
	//background-color: rgb(200,200,200);
	width:85%;
	margin:0 auto;
}
footer #contents #Research{
	//background-color: rgb(100,100,100);
	width:85%;
	margin:0 auto;
}

footer #contents #Study{
	//background-color: rgb(50,50,50);
	width:85%;
	margin:0 auto;
}
footer #SNS{
	float:right;
	width:30%;
	height:90%;
	margin-top: 10px;
}
footer #SNS_contents{
	width:85%;
	margin: 0 auto;
}
footer #SNS h3{
	font-size: 18px;
	text-align: center;
	border-bottom: solid 1px black;
	padding-bottom: 15px;
}
footer #SNS_contents > div{
	margin-top: 35px;
}

footer #SNS a{
	font-size: 10px;
	text-align: center;
	text-decoration:none;
	color: black;
}
footer #SNS a:hover{
	font-size: 13px;
	text-align: center;
	text-decoration:underline;
	color: black;
}

footer #SNS a:hover>img{
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-webkit-animation: spin 2s ease 0s infinite normal;
}
@-webkit-keyframes spin{
	0%{
		-webkit-transform:scaleX(1);
	}
	50%{
		-webkit-transform:scaleX(-1);
	}
	100%{
		-webkit-transform:scaleX(1);
	}
}

footer #SNS #twitter{
	width: 64px;
}
footer #SNS #github{
	width: 64px;
}
footer #SNS #nico{
	width: 64px;
}

